---
layout: blog
title: index
permalink: /
---

<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#page-top" id="i18_title"><span data-i18n="website.title">{{ site.title }}</span></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" id="i18_navbar">
          {% for section in site.data.landing %}
          <li>
            {% if section.page %}
              <a class="page-scroll" href="{{ section.page}} ">
            {% else %}
              <a class="page-scroll" href="{{ section.id | prepend: '#'}} ">
            {% endif %}
              <span data-i18n="{{ section.i18n }}">{{ section.name }}</span>
            </a>
          </li>
          {% endfor %}
          {% for language in site.data.index.language %}
          <li>
            <a id="set_lang_{{ language.locale }}" class="btn btn-sm set_{{ language.locale }}" data-locale="{{ language.locale }}">
              <img src="{{ language.flag | prepend: site.baseurl }}" height="16" width="16">
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</div>
{% if site.index_carousel %}
{% include carousel.html %}
{% endif %}

{% for section in site.data.landing %}
{% assign loopindex = forloop.index | modulo: 2 %}
<section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0;">
  {% include sections/{{section.tpl}} %}
</section>
{% endfor %}


<style>
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#center_popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
</style>



<div >
  <h2>Overlay with Text</h2>
  <button onclick="overlay_on()">Turn on overlay effect</button>
</div>

<script>
function overlay_on() {
  document.getElementById("overlay").style.display = "block";
}

function overlay_off() {
  document.getElementById("overlay").style.display = "none";
}
</script>


